@page "/"
@using System.Text.Json

<BlazorSocket @ref="_socket" Url="http://localhost:1337/" EventHandlers="Handlers" />
<form @onsubmit="EmitMessage">
    <input @bind="_message" @oninput="v => _message = v.Value?.ToString()" /><button type="submit">Emit Message</button>
</form>

@foreach (var message in Messages)
{
    <p>@message</p>
}

@code
{
    private BlazorSocket? _socket;
    private static readonly List<string?> Messages = new();

    public Dictionary<string, Action<string>> Handlers => new()
    {
        { "server_message", jsonString => { Messages.Add(JsonSerializer.Deserialize<string>(jsonString)); StateHasChanged(); } }
    };

    private string? _message;

    private Task EmitMessage()
    {
        var m = _message;
        _message = null;
        return _socket?.EmitAsync("message", m) ?? Task.CompletedTask;
    }
}
